<section class="section container-fluid text-center" id="works">
  <div class="section-title text-center text-uppercase">
    <h3 class="underlined">Categories</h3>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
       
<!--       begin team column-->
        <div class="work">
            <h3>Central Universities</h3>
          <div class="work-img"> <img src="assets/images/university/uni2.jpg" class="img-responsive" alt="">
            
          </div>
          <div class="work-caption" routerLink='/central'>
            <div>
              <p class="underlined">
<!--              begin team member description-->
              Find Central Universities of India
<!--              end team member description-->
              </p>
            </div>
            </div>
        </div>
<!--        end team column-->
        
      </div>
      <div class="col-sm-3">
<div class="work">
    <h3>State Universities</h3>
          <div class="work-img"> <img src="assets/images/university/uni5.jpg" class="img-responsive" alt="">
            
          </div>
          <div class="work-caption"  routerLink='/state'>
            <div>
              <p class="underlined">
                <!--              begin team member description-->
               Find State Universities of India
                <!--              end team member description-->
              </p>
              </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
<div class="work">
  <h3>Private Universities</h3>
          <div class="work-img"> <img src="assets/images/university/uni3.jpg" class="img-responsive" alt="">
            
          </div>
          <div class="work-caption"  routerLink='/private'>
            <div>
              <p class="underlined">
                <!--              begin team member description-->
                Find Private Universities of India
                <!--              end team member description-->
              </p>
              </div>
          </div>
        </div>
      </div>
        <div class="col-sm-3">
<div class="work">
  <h3>Deemed Universities</h3>
        <div class="work-img"> <img src="assets/images/university/deemed.jpg" class="img-responsive" alt="">
      
      </div>
      <div class="work-caption"  routerLink='/deemed'>
      <div>
          <p class="underlined">
                  <!--              begin team member description-->
            Find Deemed Universities of India
                  <!--              end team member description-->
          </p>
          </div>
      </div>
      </div>
      </div>
    </div>
  </div>

</section>
