.checked{
    color: orange;
}
span.stars span {
    display: block;
    background: url('../../assets/images/stars.png') 0 0px repeat-x;
    width: 80px;
    height: 16px;
}

.alignright {
  float:right;
}

span.stars {
    display: block;
    background: url('../../assets/images/stars.png') 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

.profile{
    background-image: url();
   color: black;
   width:100%;
   height:220px;
   margin-top: -20px;
   background-repeat: no-repeat;  
   background-size:cover;
}
