.profile {
    background-image: url("../../assets/images/universities-banner.jpg");
   color: #FFFFFF;
   width:100%;
   height:250px;
   margin-top: -20px;
   background-repeat: no-repeat;  
   background-size:cover;
    
}
.well{
    background-color:white;
}
.anyClass {
    height:150px;
    overflow-y: scroll;
  }